.todo__sidebar {
	width: 100%;
	max-width: 27%;

	height: auto;
	// min-height: 490px;
	// max-height: 600px;


	
	padding: 20px 0 30px;
	
	background-color: var(--clr-dark-background);
	border-right: 1px solid var(--clr-base-background);
	border-radius: 3px 0 0 3px;
	
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}
